.bg-header {
  background-color: #E5FAE9 ;
}
.bg-footer {
    background-color: #6C757C;
  }
  .bg-boton{
      background-color: #27A844;
      border: none;
 
     }
     .textof{
      color: white !important;
     }
     .bg-iniciasesion {
      background-color: #f7f7f7 !important;
    }
    .bg-fondoverde {
      background-color:#E5FAE9!important;
    }